h1
{
    color: blue;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

h2{color: chocolate;
text-align: left;
    text-decoration: underline;
font-size: 180%;}

h3{color:darkolivegreen;
text-align: center;
    text-decoration: underline;}
h4{font-size: 130%;
font-family: sans-serif;
font-style: italic;}


figure
{text-align: center;}
/*body{text-align: center;}*/

.imgfloat
{float:left;}


body{background: url("fond.jpg") fixed ;}

a 
{
   text-decoration: none;
   color: white;
   font-style: italic;
     target="_blank";
}

a:hover 
{
   text-decoration: underline;
   color:yellow;
}
a:active 
{
    background-color: #FFCC66;
}

img
{display: inline-block;
vertical-align: middle;}

nav
{
    float: left;
    width: 180px;
    border: 1px solid black;
    font-size: 120%
}
section
{
    margin-left: 220px;

}



floatdroite
{float:right;
margin-right: 190px;}
