<form id="addForm">
    <table>
        <tfoot><tr><td>
            <input type="button" name="addStudent" value="Add" id="addStudent" onclick="addFunction()"/>
        </td></tr></tfoot>
        <tbody>
            <tr>
                <th><label for="addfname">First Name</label></th>
                <td><input type="text" name= "addfname" id="addfname"/></td>
            </tr>
            <tr>
                <th><label for="addlname">Last Name</label></th>
                <td><input type="text" name= "addlname" id="addlname"/></td>
            </tr>
            <tr>
                <th><label for="addmat">Matricular</label></th>
                <td><input type="text" name= "addmat" id="addmat"/></td>
            </tr>
        </tbody>
    </table>
</form>

<form id="deleteForm">
    <table>
        <tfoot><tr><td>
            <input type="button" name="deleteStudent" value="Delete" id="deleteStudent" onclick="deleteFunction()"/>
        </td></tr></tfoot>
        <tbody>
            <tr>
                <th><label for="mat">Matricular</label></th>
                <td><input type="text" name= "delmat" id="delmat"/></td>
            </tr>
        </tbody>
    </table>
</form>

<form id="setForm">
    <table>
        <tfoot><tr><td>
            <input type="button" name="setStudent" value="Set" id="setStudent" onclick="setFunction()"/>
        </td></tr></tfoot>
        <tbody>
            <tr>
                <th><label for="setmat">Matricular (requiered)</label></th>
                <td><input type="text" name= "setmat" id="setmat"/></td>
            </tr>
            <tr>
                <th><label for="setfname">New First Name</label></th>
                <td><input type="text" name= "setfname" id="setfname"/></td>
            </tr>
            <tr>
                <th><label for="setlname">New Last Name</label></th>
                <td><input type="text" name= "setlname" id="setlname"/></td>
            </tr>
        </tbody>
    </table>
</form>

<form id="searchForm">
    <table>
        <tbody>
            <tr>
                <th><label for="fnameSearch">Search by first name</label></th>
                <td><input type="text" name= "fnameSearch" id="fnameSearch" onkeyup="sendRequest('fnameSearch', 'resultFName')" onkeydown="sendRequest('fnameSearch', 'resultFName')"/></td>
                <td><div id="resultFName"></div></td>
            </tr>
            <tr>
                <th><label for="lnameSearch">Search by last name</label></th>
                <td><input type="text" name= "lnameSearch" id="lnameSearch" onkeyup="sendRequest('lnameSearch', 'resultLName')" onkeydown="sendRequest('lnameSearch', 'resultLName')"/></td>
                <td><div id="resultLName"></div></td>
            </tr>
            <tr>
                <th><label for="matSearch">Search by matricular</label></th>
                <td><input type="text" name= "matSearch" id="matSearch" onkeyup="sendRequest('matSearch', 'resultMat')" onkeydown="sendRequest('matSearch', 'resultMat')"/></td>
                <td><div id="resultMat"></div></td>
            </tr>
        </tbody>
    </table>
</form>

    <span id="loader" style="display: none;"><img src=loading.gif alt="load"/></span>
