body {
    margin: 0;
    font-family: monospace;
}

header{
    height: 8%;
    background: #EEEEEE;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav{
    padding: 0;
    text-align: center;
}

#nav ul{
    padding: 0;
}

#nav ul li{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

#nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#nav a:hover{
    color: blue;
}

main{
    margin: 3% 5%;
}

#forms{
    margin-top: 8%;
    height: 150px;
    visibility: hidden;
}

form{
    float: left;
    margin: 0 2%;
    width: 20%;
    display: inline-block;
}

#classTable{
    background: #CCC;
/*    display: inline-block;*/
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}



#tableSection{
    margin: 0 15%;
}


#classTable th{
    height: 30px;
    font-size: 1.2em;
}


#classTable td{
    width: 100%;
    border: 1px solid grey;
}


.row:hover{
    background: rgba(0,0,150,0.2);
}

.first{
    width: 40%;
}

.second{
    width: 40%;
}

.third{
    width: 20%;
}