
h1
{
    color: blue;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    font-size: 70px;
}

h2{color: chocolate;
text-align: left;
    text-decoration: underline;
font-size: 180%;}

h3{color:red;
text-align: center;
    text-decoration: underline;
font-size: 140%;}

h4{font-size: 110%;
font-family: sans-serif;
font-style: italic;}

#prix
{
    
    float:right;
    margin-right:720px;
    
    
}
#forms
{
    top:600px;
    position:absolute;
right:300px;   
}
#banniere_image
{
    margin-top: 15px;
    margin-right: 770px;
    margin-left: 820px;
    height: 340px;
    border-radius: 5px;
    background: url('logo.jpg') no-repeat;
    position:relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: grey;
    color: white;
    font-size: 1.5em;
    text-align: center;
    
}

.flotte {
float:right;
}

a {
  display:inline-block;
}